body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: sans-serif;
}

/* Video Latar */
#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

.blurred {
  filter: blur(10px);
}

/* Popup */
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  border-radius: 10px;
  width: 90%;
  max-width: 350px;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  z-index: 10;
}

/* Judul */
.judul {
  background: #21c063;
  color: #ffffff;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
}

/* Progress Bar */
.progress-container {
  width: 100%;
  height: 30px;
  background: #ccc;
  border-radius: 20px;
  overflow: hidden;
}

.progress-bar {
  background: limegreen;
  height: 100%;
  width: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  font-weight: bold;
  transition: width 0.3s;
}

/* Tombol */
button {
  background: #2dd34b;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}